*.pas linguist-language=Pascal
*.pp linguist-language=Pascal
*.inc linguist-language=Pascal

*.asm linguist-language=Assembly
*.s linguist-language=Assembly
*.S linguist-language=Assembly

*.java linguist-language=Java
*.class linguist-language=Java

*.c linguist-language=C
*.h linguist-language=C

*.rinfo linguist-detectable=true
*.rinfo linguist-language=RInfo
